# bash-init options
## After the 3rd retry bash-init will multiple the delay>
## 1s, 2s, 3s, 8s, 10s, 12s...
## Each stop signal will reset the counters
kill_retries=2
max_kill_delay=3

## How often to emit service stats in seconds
## This is an estimate
emit_stats_interval=10

## Show PID proc names, 0|1
emit_stats_proc_names=1

## Hide bash childs from stats
## Memory usage is still shown correctly (including all existing childs)
emit_stats_hide_bash=1
