# never, on-failure, periodic
restart=always

# Interval in seconds
periodic_interval=60

# If restart=until_success, expect this exit code or restart task depending on policy.
success_exit=0

# Can be an integer value or never. Increasing delays will be applied.
restart_retries=3

# Delays may not be longer than 30s
restart_max_delay=30

# Service will be healthy if probe is successful
# Services that depend on this service will wait for probe to return success
# Probes are only tried once (todo)

# (todo) tcp:80:send_string|expect_string
# http:hostname_or_ip:port:path:method:expected_status_code
# Example: "http:example.com:81:/:GET:200"
probe=

# otherservice,yetanotherservice
depends=

# stop signals, will be tried left to right
stop_signal=SIGTERM,SIGKILL

# stop_and_wait,none,relad_after
dependency_failure_action=restart_after

# Reload signal
reload_signal=SIGHUP
