restart=always                              # never, on-failure, periodic

periodic_interval=60                        # Interval in seconds

success_exit=0                              # If restart=until_success, expect this exit code or restart task depending on policy.

restart_retries=3                           # Can be an integer value or never. Increasing delays will be applied.

restart_max_delay=30                        # Delays may not be longer than 30s

probe=                                      # tcp:80:expectedstring

depends=                                    # otherservice,yetanotherservice

stop_signal=SIGTERM,SIGKILL                 # stop signals

dependency_failure_action=restart_after     # stop_and_wait,none,relad_after

reload_signal=SIGHUP                        # Reload signal
